.sidebar {
    grid-area: sidebar;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sidebarItem {
    padding: 10px 20px;
    display: flex;
    gap: 5px;
    color: #666;
    font-size: 14px;
}
  
.sidebarItem:hover {
    color: #3483fa;
}